$black: #293846;

$grey: #7f8c8d;
$greyLight: #a1b2b4;
$greyLighter: #ddd;

$whiteLighter: #fcfcfc;
$whiteLight: #f7f7f7;
$white: #eee;
$whiteDark: #ddd;

$greenLighter: #94ffd7;
$green: #009a61;
$greenDark: #004e31;

$pinkLighter: #ff9bda;
$pink: #E865A1;
$pinkDark: #ea59b4;

$blueLighter: #89ccff;
$blue: #65a7ff;
$blueDark: #598dff;