/*html and body limitation. overflow-x: for mobile devices there is a small x overflow*/
html, body {margin: 0; overflow-x: hidden}
#app{
	overflow-x: hidden;
}
/*Language related classes*/
@font-face {
	font-family: juliamo;
	src: url(../fonts/juliamo.woff);
}

.juliamo { 
	font-family: juliamo;
}
.tategaki {
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	width: 100%;
}

.non_tategaki.juliamo {
	font-family: juliamo;
}


/*Colors and patterns*/
.bg-pale-blue{
	background: #65a7ff;
}

.bg-pale-pink{
	background: #E865A1;
}

.bg-transparent{
	background: none;
}

body{
	background-image: url("../img/pattern.jpg");
	background-repeat: repeat;
	font-family: -apple-system,BlinkMacSystemFont, "ヒラギノ角ゴ ProN W3", 游ゴシック, "Yu Gothic",Roboto,"Helvetica Neue", Arial,sans-serif;
	background-attachment: fixed;
	background-size: 102.4px 91.2px;
}

/*Special font effects*/
.pink-first-character::first-letter{
	color: #E865A1;
}


/*special nav effects*/
#top-nav{
	font-size: 1.1rem;
	background:none;
	text-shadow: 0px 0px 10px #000000;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	z-index: 9001;
	padding:0 1rem;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height:3rem;
}
#toggledMenu{
	left: 0;
	width: 100%;
	height: 14rem;
	z-index: 8797;
	position: fixed;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	background: #73AEFF;
	padding-top:5rem;
	display:none;
	text-shadow: 0px 0px 10px #FFFFCC;
}
.top-toggled-menu{
	top: 0;
}
.collapsed_toggle_menu{
	top:-14rem;
}

.top-toggled-menu-item{
	width: 25%;
	overflow: hidden;
	text-align: center;
	padding: auto;
	color:#FFF;
	cursor: pointer;
	cursor: hand;

}
.top-toggled-menu-item.short{
	height: 2.5rem;
}
.top-toggled-menu-item h3{
	font-size: 1em;
	line-height: 2.5rem;
}
.top-toggled-menu-item h2{
	font-size: 1.4em;
}
.top-toggled-menu-item h1{
	font-size: 1.8em;
}

.top-nav-left-head{
	position: absolute;
	left: 1em;
	height: 3rem;
	width: 3rem;
	overflow: hidden;
	cursor: pointer;
	cursor: hand;
}
.top-nav-left-head img{
	padding:5px;
	width: 100%;
	border-radius: 100px;
	box-sizing: border-box;
}
.top-nav-left-name {
	position: absolute;
	left: 4em;
	height: 3rem;
	padding-top:0.7rem;
	cursor: pointer;
	cursor: hand;
}

.top-nav-right{
	cursor: pointer;
	cursor: hand;
	position: absolute;
	right: 3em;
	padding: 0.7rem;
}
.top-nav-left-name, .top-nav-right a, .top-nav-language{
	text-decoration: none;
	color: #FFF;
}
.top-nav-right a{
	margin:0 0.3em;
}
.top-nav-language{
	position: absolute;
	right: 0em;
	padding-top: 0.7rem;
}
#top-nav .dropdown-menu{
	background: rgba(166,200,222,0.98);
	border: none;
	color: #FFF;
	font-size: 0.7em;
	min-width: 5rem;
}
#dropdownMenuButton{
	cursor: pointer;
	cursor: hand;
}
#top-nav .dropdown-item{
	color: #FFF;
	cursor: pointer;
	cursor: hand;
}
#top-nav .dropdown-item:hover{
	background: rgba(186,220,232,0.98);
}

#top-nav.nav_pale_blue, #toggledMenu.nav_pale_blue{
	background: rgba(166,200,222,0.98);
	text-shadow: 0px 0px 10px #FFFFCC;
}
#top-nav.nav_hidden{
	text-shadow: none;
	top:-3rem;
}
#navbar_collapse_button{
	position: absolute;
	right: 1em;
	top:0.3rem;
	font-size:1.6rem;
	height: 2rem;
	width: 2rem;
	overflow: hidden;
	text-align: center;
	color:#FFF;
	display: none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	cursor: pointer;
	cursor: hand;
}
#navbar_collapse_button.navbar_collapse_button_toggled{
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    top:0.4rem;
}


@media (max-width: 992px) {
	#top-nav{
		background: #73AEFF;
		text-shadow: 0px 0px 10px #FFFFCC;
	}
	#toggledMenu{
		display: flex;
		z-index: 8797;
		flex-direction: row;
		flex-wrap: wrap-reverse;
		justify-content: space-around;
		align-content: space-between;
	}
	#toggledMenuButton{
		display:block;
	}
	.topMenuButtons{
		display:none;
	}
	#navbar_collapse_button{
		display: block;
	}
}


/*index background*/
.background-main{
	background-image: url(../img/bg.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	min-height: 950px;
	background-position: center;
	padding-top:60px;
	margin-bottom: -50px;
	z-index: -2;
	overflow-x: hidden;
}

.background-main h1{
	text-shadow: 0 2px 3px #fff, 2px 0 3px #fff, 0 -2px 3px #fff, -2px 0 3px #fff, -2px -2px 3px #fff, 2px -2px 3px #fff, -2px 2px 3px #fff, 2px 2px 3px #fff;
	color: #65a7ff;
	font-weight: 400;
	letter-spacing: 5px;
	font-size: 3em;
}
.background-main h4{
	color: #224252;
	font-weight: 400;
	letter-spacing: 0.1em;
	margin: 0 2.6em;
	line-height: 2em;
	font-size: 1.2em;
}
.margin_for_tategaki{
	margin-right:10em;
	margin-top: 3.2rem;
}
.background-main .non_tategaki h1{
	font-weight: lighter;
	letter-spacing: 3px;
	font-size: 4em;
	text-align: center;
}
.background-main .non_tategaki h4{
	letter-spacing: 0;
	font-weight: lighter;
	margin: 1em auto;
	text-align: center;
	line-height: 1.5em;
	font-size: 1.6em;
}
@media (max-width: 1200px) {
	.background-main{
		padding-left:5px;
		padding-right:5px;
		min-height: 800px;
	}
	.background-main h1{
		letter-spacing: 3px;
		margin:0.5em 0.5em;
		font-size:3em;
	}
	.background-main h4{
		margin: 2em 1em; 
		font-size: 1.2em;
		line-height: 1.7em;
	}
	.margin_for_tategaki{
		margin-right:8em;
	}
	.background-main .non_tategaki h1{
		margin:0;
	}
	.background-main .non_tategaki h4{
		margin: 0.8em auto;
		line-height: 1.4em;
		font-size: 1.5em;
	}
	.extend_for_non_tategaki{
		min-height: 920px;
	}
}
@media (max-width: 768px) {
	.background-main{
		/*padding-bottom:250px;*/
		height: 75vh;
		min-height: 795px;
	}
	.background-main h1{
		letter-spacing: 3px;
		margin:0;
	}
	.background-main h4{
		margin: 2em 1em; 
		font-size: 1.3em;
		line-height: 1.5em;
	}
	.margin_for_tategaki{
		margin-right:2.5em;
	}
	.background-main .non_tategaki h1{
		margin:0;
	}
	.background-main .non_tategaki h4{
		margin: 0.8em auto;
		line-height: 1.4em;
		font-size: 1.2em;
	}
}

@media (max-width: 576px) {
	.background-main{
		/*padding-bottom:250px;*/
		height: 60vh;
		min-height: 600px;
	}
	.background-main h1{
		letter-spacing: 3px;
		font-size: 1.5em;
		margin-right:4%;

	}
	.background-main h4{
		margin: 0 0.6em;
		font-size: 0.9em;
		line-height: 1.2em;
	}
	.margin_for_tategaki{
		margin-right:2em;
	}
	.background-main .non_tategaki h1{
		font-size: 3.5em;
	}
	.extend_for_non_tategaki{
		min-height: 940px;
	}
}
@media (max-width: 370px) {
	.background-main h1{
		margin-right: 0;
	}
	.margin_for_tategaki{
		margin-right:1%;
	}
	.background-main .non_tategaki h1{
		font-size: 3em;
	}
	.extend_for_non_tategaki{
		min-height: 1000px;
	}
}



/*cards on index*/
.index-card{
	padding: 0;
	z-index: 8000;
	margin-bottom:5px;
	-webkit-transition: margin-top .3s ease-out;
	-moz-transition: margin-top .3s ease-out;
	-o-transition: margin-top .3s ease-out;
	transition: margin-top .3s ease-out;
}

.index-card::before {
	content: "";
	height:100%;
	width: 100%;
	position: absolute;
	display: block;
	z-index: -1;
	-webkit-transition: transform .3s ease-out;
	-moz-transition: transform .3s ease-out;
	-o-transition: transform .3s ease-out;
	transition: transform .3s ease-out;
}
.index-card::after{
	content: "";
	bottom:-20px;
	height:100px;
	width: 100%;
	position: absolute;
	display: block;
	z-index: -3000;
  	background-size: 23px 23px;
  	  background-image: linear-gradient(
    -45deg,
    rgba(255,255,255,.4) 25%,
    rgba(255,192,203,.4) 25%, rgba(255,192,203,.4) 50%,
    rgba(255,255,255,.4) 50%, rgba(255,255,255,.4) 75%,
    rgba(255,192,203,.4) 75%, rgba(255,192,203,.4)
  );
  	  	-webkit-transition: transform .3s ease-out;
	-moz-transition: transform .3s ease-out;
	-o-transition: transform .3s ease-out;
	transition: transform .3s ease-out;
}
.index-card.red-card::after, .index-card.green-card::after{
	transform: skewY(-5deg);
}
.index-card.blue-card::after, .index-card.purple-card::after{
	transform: skewY(5deg);
}

.index-card:hover:before, .index-card:hover:after{
	transform: skewY(0deg);
}
.red-card::before {
	transform: skewY(-5deg);
	background: linear-gradient(45deg,#D595BD,#E5B3B3);
}
.purple-card::before{
	transform: skewY(5deg);
	background: linear-gradient(45deg,#C5B8D4,#BCBADE);
}
.green-card::before{
	transform: skewY(-5deg);
	background: linear-gradient(45deg,#A2C7D7,#A4DBD2);
}
.blue-card::before{
	transform: skewY(5deg);
	background: linear-gradient(45deg,#95A6F2,#7099E1);
}
.red-card{
	margin-top:15px;
}
.purple-card{
	margin-top:0px;
}
.green-card{
	margin-top:15px;
}
.blue-card{
	margin-top:5px;
}
.index-card-contents{
	color: #FFF;
	padding:40px 20px;
	padding-bottom:3em;
	text-shadow: 0px 2px 4px #434;
	height: 21em;
	overflow: hidden;
	cursor: pointer;
	cursor: hand;
}
.card-row{
	margin: 0 auto;
	padding: 0 auto;
}
.card-icon{
	height: 7.4em;
	margin: 1em auto;
	position: relative;
}
.card-icon img{
	height: 100%;
	border-radius: 25px;
	border: solid 3px rgba(255,255,255,0.3);
}
.card-text{
	margin: 1.5em auto;
	width:7em;
}
.card-text h4{
	margin-left: -100%;
	margin-right: -100%;
	text-align: center;
	word-wrap: break-word;
	font-size: 1.4em;
}

@media (max-width: 992px) {
	.index-card{
		margin: 0;
	}
	.index-card:hover:before {
		transform: skewY(-3deg);
	}
	.index-card:before {
		transform: skewY(-3deg);
		-webkit-transition: none;
		-moz-transition: none;
		-o-transition: none;
		transition: none;
	}
}

@media (max-width: 768px) {
	.index-card-contents{
		padding:20px 12px;
		padding-bottom:3em;
	}
}


/*Bottom Footer*/
.bottom-footer{
	margin-top: 150px;
	width: 100%;
	height: 100%;
	background-color: rgba(166,200,222,0.5);
}
.bottom-footer-greeting{
	text-shadow: 0 2px 3px #fff, 2px 0 3px #fff, 0 -2px 3px #fff, -2px 0 3px #fff, -2px -2px 3px #fff, 2px -2px 3px #fff, -2px 2px 3px #fff, 2px 2px 3px #fff;
	color: #65a7ff;
	letter-spacing: 12px;
	margin: 120px auto;
	margin-bottom:20px;
	font-weight: lighter;
	font-size:3.2em;
}

#bottom_search_bar_container{
	margin: 30px auto;
	width: 80%;
}
@media (max-width: 992px) {
	.bottom-footer-greeting{
		letter-spacing: 10px;
		margin: 80px auto;
		font-size:2em;
	}
	.bottom-footer{
		margin-top: 100px;
	}
}
@media (max-width: 768px) {
	.bottom-footer-greeting{
		letter-spacing: 8px;
		font-size:1.8em;
	}
	#bottom_search_bar_container{
		margin: 15px auto;
		width: 100%;
	}
}
@media (max-width: 576px) {
	.bottom-footer-greeting{
		letter-spacing: 3px;
		font-size:1.3em;
	}
}

.bottom-footer-copyright{
	margin: 20px auto;
}



/*Improvments on BootStrap*/
.no-horizontal-padding-margin{
	padding:0;
	margin:0;
}
.vertical-margin-top{
	margin-top:30px;
}
.btn-pink{
	color: #fff;
	background-color: #E865A1;
	border-color: #E565A1;
}

/*Flipers*/

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
	position: absolute;
	margin:auto;
	left: -9999px;
	right: -9999px;
}
/* flip the pane when hovered */
.flip-container.hover .flipper, .flip-container.flip .flipper {
	transform: rotateX(180deg);
}

.flip-container, .front, .back {
	width: 20em;
	height: 7.4em;
}

/* flip speed goes here */
.flipper {
	-webkit-transition: 0.3s ease-out;
	-moz-transition: 0.3s ease-out;
	-o-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	position: relative;
	-webkit-transform-origin: 50% 3.7em;    
	-moz-transform-origin: 50% 3.7em;      
	-o-transform-origin: 50% 3.7em;    
	-ms-transform-origin: 50% 3.7em;  
	transform-origin: 50% 3.7em;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.back img{
	margin:auto auto;
	display: inherit;
}
.front img{
	margin:auto auto;
	display: inherit;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateX(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateX(180deg);
}


/*fade animation for vue*/
.fade-enter-active, .fade-leave-active, .can-be-invisible{
	transition: opacity .3s
}
.fade-enter, .fade-leave-to, .invisible{
	opacity: 0
}